.btn {
    display: inline-flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    font-weight: 300;
    font-size: .875em;
    padding: 0.857em 1.571em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 7px;
    &:hover {
        cursor: pointer;
        opacity: .7;
        transition: .3s;
    }
}


.btn-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.btn-black {
    color: #fff;
    background-color: #000;
}

.btn-arrow {
    svg {
        margin-left: 12px;
        path {
            fill:#000
        }
    }
}

.btn-black {
    svg {
        path {
            fill:#fff
        }
    }
}
.btn-white {
    padding: 0 !important;
}

.btn-icon {
    padding: 0;
    margin: 0 15px;
    position: relative;
    &:hover {
        opacity: .7;
    }
    .in-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        background-color:lime;
        border-radius: 50%;
        top: 7px;
        right: 6px;
        font-size: 10px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        position: absolute;
        img {
            width: 55%;
        }
    }
}