.list-card {
    .btn-default {
        text-align: center;
        margin-bottom: 50px;
        .btn {
            padding: 0;
        }
        span {
            width: 223px;
            height: 46px;
            line-height: 46px;
            padding: 0;
        }
    }
    .filter-bar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e6e6eb;
        margin-bottom: 40px;
        padding-bottom: 20px;
        .dropdown {
            display: inline-block;
            .dropdown-inner{
                width: 132px;
                margin: 0;
                cursor: pointer;position: relative;
                .dropdown-header {
                    background: #ffffff;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    line-height: 20px;
                    .dropdown-icon {
                        margin-left: 14px;
                    }
                }
                .dropdown-list {
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: #ffffff;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                    list-style: none;
                    min-width: 100%;
                    border-radius: 5px;
                    z-index: 100;
                    padding: 10px 0;
                    &:first-child {
                        padding-top: 0.8em;
                    }
                    .list-item {
                        display: block;
                        padding: 7px 25px;
                        font-size: 14px;
                        line-height: 20px;
                        &.active {
                            color: #595cff;
                        }
                    }
                }
            }
        }
    }
    .list-card-inner{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -40px 0 0;
        .item {
            width: 260px;
            margin-bottom: 40px;
            margin-right: 40px;

        }
    }
}
