.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 100px;
    .detail-image {
        width: 558px;
        .detail-image__inner {
            .image {
                padding: 50px;
                background-color: #f9f9fb;
                height: 558px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .label-bar {
                width: 506px;
                height: 46px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 32px;
                margin-bottom: 24.5px;
                .label {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 10px;
                        display: block;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    .detail-infor {
        width: 523px;
        .detail-infor__inner {
            .product-name {
                font-size: 24px;
                line-height: 28px;
                font-weight: 500;
                margin: 0;
                margin-bottom: 20px;
            }
            .product-price {
                padding-bottom: 15px;
                margin-bottom: 40px;
                border-bottom: 1px solid #e6e6eb;
                span:first-child {
                    font-size: 28px;
                    line-height: 28px;
                    font-weight: 600;
                    margin-right: 20px;
                }
                span:last-child {
                    color: #82828b;
                    font-size: 18px;
                    line-height: 22px;
                    text-decoration: line-through;
                }
            }
            .detail-section {
                margin-bottom: 38px;
                .label{
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0;
                    margin-bottom: 24.5px;
                }
            }
            .product-count {
                .count-counter {
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                        height: 25px;
                    }
                    .icons-count {
                        transition: .2s;
                        &:hover {
                            opacity: .8;
                        }
                        &.disnable{
                            opacity: .4;
                        }
                    }
                    .quantity {
                        width: 64px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 25px;
                        font-weight: 500;
                    }
                }
            }
            .color-picker {
                display: flex;
                .color-item {
                    width: 36px;
                    height: 36px;
                    margin-right: 12px;
                    border-radius: 50%;
                    transition: .3s;
                    &.active {
                        border: 2px solid #000000;
                        padding: 2px;
                    }
                    div {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                
            }
            .product-button-group {
                .button-group {
                    display: flex;
                    .btn {
                        
                        height: 56px;
                        display: flex;
                        justify-content: center;
                        border-radius: 4px;
                        user-select: none;
                    }
                    .btn-default {
                        .btn {
                            width: 309px;
                        }
                    }
                    .btn-icon {
                        width: 56px;
                        border: 1px solid #ccc;
                    }
                }
            }

        }
    }
}