.header {
    .sub-menu {
        .sub-menu-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000;
            .logo {
                font-weight: 700;
                font-size: 18px;
                cursor: pointer;
            }
            .location {
                width: 250px;
                display: flex;
                align-items: center;
                .icon {
                    display: block;
                    width: 9px;
                    height: 13px;
                    margin-right: 7px;
                    line-height: 20px;
                }
                
            }
            .link-icons {
                width: 250px;
                margin: 10px 0;
                display: flex;
                justify-content: flex-end;
                .icon {
                    display: block;
                    width: 24px;
                    height: 32px;
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                }
                .sub-menu-btn {
                    position: relative;
                }
                .icon-numb {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    top: 0;
                    right: -15%;
                    font-size: 10px;
                    color: #fff;
                    text-align: center;
                    font-weight: 600;
                    position: absolute;
                }

                a{
                    text-decoration: none;  
                }
            }
            .search {
                position: relative;
                .input-search {
                    outline: none;
                    box-sizing: border-box;
                    font-family: Inter;
                    font-weight: 500;
                    border: solid #000;
                    border-width: 0 0 2px;
                    transition: width .5s,padding .5s;
                    &.show {
                        width: 170px;
                        padding:7px;
                    }
                    &.hiden {
                        width: 0;
                        border: 0;
                    }
                }
                .search-modal {
                    position: absolute;
                    right: -52px;
                    width: 354px;
                    z-index: 3;
                    background-color: #fff;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-sizing: border-box;
                    overflow: auto;
                    transition: height .3s;
                    box-shadow: -5px 10px 35px #5b5d670f;
                    &.hiden {
                        display: none;
                    }
                    .search-item {
                        display:flex;
                        margin-bottom: 10px;
                        cursor: pointer;
                        &:hover{
                            opacity: .6;
                        }
                        &:last-child {
                            margin-bottom: 20px;
                        }
                        &:first-child {
                            margin-top: 20px;
                        }
                        .thumbnail {
                            width: 100px;
                            height: 100px;
                            background-color: #f0f0f5;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .content {
                            width: calc(100% - 100px);
                            padding-left: 15px;
                            color: #000;
                            display: flex;
                            flex-direction: column;
                            grid-row-gap: 10px;
                            row-gap: 10px;
                        }
                    }
                    .no-product{
                        margin: 20px;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }
            }
            .preview-cart {
                position: relative;
                .preview {
                    width: 554px;
                    position: absolute;
                    right: 0;
                    z-index: 3;
                    background-color: #fff;
                    padding-left: 60px;
                    padding-right: 60px;
                    box-sizing: border-box;
                    overflow: auto;
                    transition: height .3s;
                    box-shadow: -5px 10px 52px #5b5d670f;
                    &.show {
                        display: block;
                    }
                    &.hiden {
                        display: none;
                    }
                    .list-cart {
                        .cart-item {
                            display: flex;
                            height: 100px;
                            margin-bottom: 40px;
                            .cart-item-thumbnail {
                                width: 100px;
                                margin-right: 20px;
                            }
                            .cart-item-content {
                                width: calc( 100% - 120px );
                                .infor {
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 16px;
                                    line-height: 24px;
                                    .price {
                                        font-weight: 500;
                                    }
                                }
                                .total-group {
                                    .quantity {
                                        font-size: 14px;
                                        font-weight: 500;
                                    }
                                    .total{
                                        color: #ff0000;
                                        margin-left: 20px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .main-menu {
        .main-menu-inner {
            .navbar {
                ul {
                    display: flex;
                    margin: 32px -30px;
                    justify-content: center;
                    li {
                        margin:0 38px;
                        span {
                            font-size: 16px;
                            line-height: 22px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                        &:hover {
                            opacity: 0.6;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
}