.header {
    .sub-menu {
        .sub-menu-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000;
            .logo {
                font-weight: 700;
                font-size: 18px;
                cursor: pointer;
            }
            .location {
                display: flex;
                align-items: center;
                .icon {
                    display: block;
                    width: 9px;
                    height: 13px;
                    margin-right: 7px;
                    line-height: 20px;
                }
                
            }
            .link-icons {
                margin: 10px 0;
                display: flex;
                .icon {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-left: 20px;
                }
                .sub-menu-btn {
                    position: relative;
                }
                a{
                    text-decoration: none;
                    .icon-numb {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 15px;
                        height: 15px;
                        background-color: red;
                        border-radius: 50%;
                        top: -20%;
                        right: -15%;
                        font-size: 10px;
                        color: #fff;
                        text-align: center;
                        font-weight: 600;
                        position: absolute;
                    }
                }
            }
        }
        
    }
    .main-menu {
        .main-menu-inner {
            .navbar {
                ul {
                    display: flex;
                    margin: 32px -30px;
                    justify-content: center;
                    li {
                        margin:0 38px;
                        span {
                            font-size: 16px;
                            line-height: 22px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                        &:hover {
                            opacity: 0.6;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
}